<% include ../partials/header %>

<center>
    <div style="margin-top: 50px;">
        <a type="button" class="btn btn-success" href="/merchant" >Merchant Login</a>
        <a type="button" class="btn btn-warning" href="/customer">Customer Login</a>
    </div>
</center>

<% include ../partials/footer %>