<% include ../partials/header %>

<center>
    <div style="margin-top: 50px;">
        <a type="button" class="btn btn-success" href="/login/merchant" >Merchant Login</a>
        <a type="button" class="btn btn-warning" href="/login/customer">Customer Login</a>
    </div>

    <div style="margin-top: 50px;">
        <a type="button" class="btn btn-success" href="/register/merchant" >Merchant Register</a>
        <a type="button" class="btn btn-warning" href="/register/customer">Customer Register</a>
    </div>
</center>

<% include ../partials/footer %>